* {
  padding: 0;
  margin: 0;
}
body,
html {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainBody {
  background-image: url(https://images.unsplash.com/photo-1478760329108-5c3ed9d495a0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
}
.ch1Body {
  background-image: url(https://images.unsplash.com/photo-1576858999278-d8d6c773cb97?ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80);
}
.ch2Body {
  background-image: url(https://images.unsplash.com/photo-1568059151110-949642101084?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}
.ch3Body {
  background-image: url(https://images.unsplash.com/flagged/photo-1563248101-a975e9a18cc6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80);
}
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 5px;
  display: flex;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: rtl;
  color: white;
}

.navbar {
  overflow: hidden;
  background-color: #000000b4;
  position: fixed;
  bottom: 0;
  width: 100%;
  backdrop-filter: blur(10px);
}

.navbar a {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-right: 7px;
  float: left;
  display: flex;
  color: #f2f2f2;
  text-align: center;

  text-decoration: none;
  font-size: 10px;
}

.navbar a:hover {
  background-color: #4c99af;
  color: white;
}

.navbar a.active {
  background-color: #4c99af;
  color: white;
}

.navbar .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: center;
  }
}
.version {
  color: white;
}
